.navbar1{
    text-align: center;
    background-color:blue;
    color:white;
}

page-home {


    .db_content{
    
     background-color:whitesmoke;

    }
    .items{

        background-color:gainsboro;
    }

   

    .input-box{

        background-color: white;
    }

    .ion_item{
        background-color:whitesmoke;

    }

    
}
